body {
  background: #333;
  color: #fff;
  font-size: 18px;
  max-width: 1550px;
  margin: 0 auto;
  overflow-x: hidden;
}
.navbar {
  border-bottom: #068537 3px solid;
  opacity: 0.8;
  max-width: 1550px;
  margin: 0 auto;
}
.navbar-toggler {
  display: block !important;
}
.nav-link {
  color: #555 !important;
  font-weight: 500;
  font-size: 20px;
}
#home-section .home-inner {
  padding-top: 150px;
}
#home-section {
  max-width: 1550px;
  margin: 0 auto;
  background: url(../img/herb.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}
#home-section .dark-overlay {
  max-width: 1550px;
  margin: 0 auto;
  position: absolute;

  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
.container {
  max-width: 120rem;
  margin: 0 auto;
}
